<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyBlog - Contact page</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
  <!-- https://fonts.google.com/ -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />
  <!-- https://getbootstrap.com/ -->
  <link href="{{ url_for('static', filename='fontawesome/css/all.min.css')}}" rel="stylesheet" />
  <!-- https://fontawesome.com/ -->
  <link href="{{ url_for('static', filename='css/templatemo-diagoona.css')}}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery-3.4.1.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery.backstretch.min.js')}}"></script>


  <script>
    $(document).ready(function () {
      const autoplayBg = true;	// set Auto Play for Background Images
      initBg(autoplayBg);
      setBgOverlay();

      const bgControl = $('.tm-bg-control');
      bgControl.click(function () {
        bgControl.removeClass('active');
        $(this).addClass('active');
        const id = $(this).data('id');
        setBg(id);
      });

      $(window).on("backstretch.after", function (e, instance, index) {
        const bgControl = $('.tm-bg-control');
        bgControl.removeClass('active');
        const current = $(".tm-bg-controls-wrapper").find(`[data-id=${index}]`);
        current.addClass('active');
      });

      $(window).resize(function () {
        setBgOverlay();
      });
    });
    initBg = (autoplay = true) => {
      const bgImgsNames = ["{{url_for('static', filename='images/one.jpg')}}"
        , "{{url_for('static', filename='images/two.jpg')}}", "{{ url_for('static', filename='images/three.jpg')}}"];
      const bgImgs = bgImgsNames.map(images => images);

      $.backstretch(bgImgs, { duration: 4000, fade: 500 });

      if (!autoplay) {
        $.backstretch('pause');
      }
    }

    const setBg = id => {
      $.backstretch('show', id);
    }

    const setBgOverlay = () => {
      const windowWidth = window.innerWidth;
      const bgHeight = $('body').height();
      const tmBgLeft = $('.tm-bg-left');

      $('.tm-bg').height(bgHeight);

      if (windowWidth > 768) {
        tmBgLeft.css('border-left', `0`)
          .css('border-top', `${bgHeight}px solid transparent`);
      } else {
        tmBgLeft.css('border-left', `${windowWidth}px solid transparent`)
          .css('border-top', `0`);
      }
    }


  </script>
</head>

<body>
  <script>
    var articleArray;
    $.ajax({
      type: "GET",
      dataType: "json",
      url: sessionStorage.getItem("BASE_URL_TEST") + "get-articles",
      success: function (data) {
        articleArray = data['data'];
        console.log("hhhhhh")
        console.log(data['result']);
        console.log("asdasdasdasdasd")
        flag = true;
        var output = document.getElementById("article_card")
        output.innerHTML = `
                <h1 style="margin-top:10%" ;class="mb-4 tm-content-title">Top Article</h1>
                ${articleArray.map(function (article) {
          console.log(article['title'])
          if (flag) {
            flag = false;
            return `
                    <section class="tm-content">
                    <img src="${article.image}" alt="Image" width=150 height=auto
                    class="tm-service-img">
                    <div class="media-body tm-service-text">
                        <h2 class="mb-4 tm-content-title">${article['title']}</h2>
                        <p style="font-weight:400;">${article.description}</p>
                        <a href="{{ url_for('read_article')}}" 
                        style="margin-left:-6%";
                        onclick="${storeIdInSession(article['id'])}"
                        class="btn btn-link">Read more...</a>

                    </div>
                    <section>
                    `}

        }).join('')}

                `
      }

    })
    function storeIdInSession(article_id) {
      if (typeof (Storage) != undefined) {
        sessionStorage.setItem("ARTICLE_ID", article_id);

      }
    }
  </script>
  <div class="tm-container">
    <div>
      <div class="tm-row pt-4">
        <div class="tm-col-left">
          <div class="tm-site-header media">
            <i class="fa fa-commenting fa-3x mt-1 tm-logo"></i>
            <div class="media-body">
              <h1 class="tm-sitename text-uppercase">MyBlog</h1>
              <p class="tm-slogon">Why not learn?</p>
            </div>
          </div>
        </div>
        <div class="tm-col-right">
          <nav class="navbar navbar-expand-lg" id="tm-main-nav">
            <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" data-toggle="collapse"
              data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
              <ul class="navbar-nav text-uppercase">
                <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{{url_for('home')}}">Home
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link tm-nav-link" href="{{ url_for('contact') }}">Contact
                    <span class="sr-only">(current)</span>
                  </a>
                <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{{ url_for('see_all') }}">See All</a>
                </li>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <div class="tm-row">
        <div class="tm-col-left" id="article_card">
          <!-- <h1 style="margin-top:10%" ;class="mb-4 tm-content-title">Top Articles</h1> -->
          <!-- <section class="tm-content">
                  <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l" >
                       <img src="{{ url_for('static', filename='images/services-1.jpg')}}" alt="Image"
                          class="tm-service-img" id="article_image">
                      <div class="media-body tm-service-text">
                          <h2 class="mb-4 tm-content-title" id="article_title">Best Services for you</h2>
                          <p id="article_desc">Our template is simple and effective. This is an alternating simple
                              content with a
                              squared size image. Menu hover is #9CC and text #FFF</p>
                      </div> 
                  </div>
              </section>  -->
        </div>
        <main class="tm-col-right tm-contact-main">
          <!-- Content -->
          <section class="tm-content tm-contact">
            <h2 class="mb-4 tm-content-title">Contact Us</h2>
            <p class="mb-85">You can tell us about the topics in which u want us to write and we will publish articles
              on them,
              you can put down your email so that we can get in touch in the future.
            </p>
            <form id="contact-form" action="" method="POST">
              <div class="form-group mb-4">
                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="" />
              </div>
              <!-- <div class="form-group mb-4">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="" />
              </div> -->
              <div class="form-group mb-5">
                <textarea rows="6" name="message" id="message" class="form-control" placeholder="Message..." required=""></textarea>
              </div>
              <div class="text-right">
                <button type="submit" onclick="sendMail()" class="btn btn-big btn-primary">Send It</button>
                <script>

                  function sendMail() {

                    var name = document.getElementById("name");
                    var message = document.getElementById("message");
                    window.open("mailto:hari.auctionsoftware@gmail.com?subject="+name+" suggestion "+"&body="+message);
                    window.alert("Mail has been sent to the admin. Thank you for your time.")
                  }
                </script>
              </div>
            </form>
          </section>
        </main>
      </div>
    </div>

    <div class="tm-row">
      <div class="tm-col-left text-center">
        <ul class="tm-bg-controls-wrapper">
          <li class="tm-bg-control active" data-id="0"></li>
          <li class="tm-bg-control" data-id="1"></li>
          <li class="tm-bg-control" data-id="2"></li>
        </ul>
      </div>

    </div>

    <div class="tm-bg">
      <!-- Diagonal background design -->
      <div class="tm-bg-left"></div>
      <div class="tm-bg-right"></div>
    </div>
  </div>


</body>

</html>